.about {
    margin: 0px 25% 5% 14%;
    padding: 25px;
    box-shadow: 10px 10px 100px -15px rgba(199,201,199,1);
}

.head-shot {
    padding: 0px 25px 0px 25px;
    width: 35%;
    /* float: left; */
}

.about-header {
    padding: 0px 25px 0px 25px;
    font-family: 'Fredericka the Great', cursive;
    font-size: 30px;
}

.about-desc {
    padding: 0px 25px 0px 25px;
    /* float: right; */
}